/*============================================================
    GENERAL STYLING
============================================================*/
/* BODY */
body    {
    margin: 0%;
}

/* Heading one elements */
h1  {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%;
    color: rgb(212, 224, 213);
}

h1:hover  {
    transform: scale(1.05);
    transition: transform 1s;
}

/* Styling for portfolio text */
.white-text {
    color: #fff;
}

/* styling for paragraphs */
p   {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(212, 224, 213);
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover { /* affects quote, github link and footer (anything with "center" class */
    transition: transform 1.5s;
    transform: scale(1.04);
}

/* anchor elements */
a   {
    color: yellow; /*makes sure links are blue*/
}

/* Quatation elements */
q   {
    font-style: italic;
}

/* Image elements */
img {
    filter: sepia(75%); /*sepia filter over images*/
    border-radius: 5px;
    max-width: 100%; /*makes the images stay in their container*/ 
    height: 340px;
    display: block; /*block display ensures that we can center our images*/
    margin-left: auto;
    margin-right: auto; /* combo of "margin-left" and "margin-right" auto'd centers the images*/
}

/* Image hover effects */
img:hover   {
    filter: sepia(5%);
    filter: none;
    transition: transform 1s;
    transform: scale(1.05);
}

/* on screens 576px and smaller the images will 100px tall and centered vertically in a column*/
@media screen and (max-width)   {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* footer styling */

footer {
    padding: 2%;
    background-color: rgb(28, 141, 34);
}
/*==========================================================
    END OF GENERAL STYLING
==========================================================*/

/* NAV BAR STYLING */
.navbar {
    overflow: hidden;
    background-color: rgb(41, 41, 41);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/* navbar links */
.navbar a   {
    float: left;
    display: block; /*ensures that the text will be on one line */
    color: white;
    padding: 14px 16px;
    text-decoration: none; /* gets rid of the underlines on the navbar links */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center; /*centers the text within the container*/
    position: relative; /* sets the text relative to its normal positioning, allows for the animation to be used */
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}
 /*moveNavText animation effect for move the navbar text from above the view to the navbar */
 @keyframes moveNavText {
     from {top: -100vw;}
     to {top: 0vw;}
 }

/* screens smaller than 576px will display the links equally distributed */
@media screen and (max-width: 576px) {
    .navbar a {
        width: 25%;
        font-size: 12px;
    }
}
 
/* navbar hover effects */
.navbar a:hover {
    background-color: rgb(68, 216, 68);
    color: black;
    font-weight: bold;
}

/*navbar home button */
.navbar a.active { /* targets the active class*/
    background-color: rgb(28, 141, 34);
}
/* end nav bar styling*/

/* video styling*/
/* formatting for background video */
#typing_vid {
    position: fixed; /*video doesn't move */
    right: 0;
    bottom: 0;
    min-width: 100%; /* makes sure that the video spreads across the entire width of the screen*/
    z-index: -1; /*places video behind the other elements*/
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* text over the video */
.video_text {
    background:rgba(0,0,0,0.5); /* provides a semi translucent background for text to sit over */
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* animation that moves the video overlay to move down when the page first loads */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/* end of video styling */

/* TABLE STYLING */
*   { /* The asterisk is a universal selector that applies this effect to all elements in the page */
    box-sizing: border-box; /* creates a box with a border where the text will go */
}

.column_1   {
    float: left; /* places box to the left and takes up half the screen*/
    width: 50%;
    padding: 10px;
    padding-top: 3%; /* space betweent the top of the column and the heading */
    height: 400px;
    background-color: rgb(24, 99, 24);
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgb(46, 46, 46);
}

/* overrides the previous styling for the final row to make room for the contact form */
.column_tall    {
    padding-top: 3.5%;
    height: 450px;
}

/* inserts something AFTER the selected element */
.row:after {
    content: ""; /* allows for the footer to not be over the columns */
    display: table; /* tells the browser how to display; the browser will display a table */
    clear: both; /* clears any other elements from floating on the left or the right of an element */
}

/* Ending of table styling */

/* Contact form styling*/
/* input[type=text] targets all txt input section of the contact form */
input[type=text]   {
    width: 100%;
    padding: 12px; /*adds padding in the text box*/
    border: 1px solid #ccc; /*solid border and color*/
    border-radius: 4px; /*curved edges*/
    box-sizing: border-box; /* box a border box around the contact form */
    margin-top: 6px; /*adds margin to the top of the textbox*/
    margin-bottom: 16px; /*adds margins to the bottom of the text box*/
    resize: vertical; /* resizes the text boxes vertically */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px rgb(68, 216, 68) inset; /* creates green shadow around the text boxes */
}

/* submit buttom */
input[type=submit] {
    background-color: rgb(68, 216, 68);
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif
}

/*hover effect for submit button */
input[type=submit]:hover {
    background-color: rgb(212, 224, 213);
    color: rgb(41, 41, 41);
    transform: scale(1.05);
    transition: transform 1.5s;
}

/* form element */
form    {
    color: rgb(212, 224, 213);
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* end of contact form styling! */